<ion-split-pane contentId="main">
  <ion-menu contentId="main">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title class="ion-text-center">Chats</ion-title>
        <ion-button slot="end" fill="clear" shape="round">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item *ngFor="let snapshot of snapshots"
                routerLink="/chat"
                [queryParams]="{conversationId: snapshot.conversationId}"
                routerLinkActive="active-link"
                routerDirection="root">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="Person Thumbnail">
        </ion-thumbnail>   
        <ion-label>
          {{snapshot.name}}
          <p>{{snapshot.text}}</p>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>

