<ion-split-pane contentId="main">
  <ion-menu contentId="main">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-button id="trigger-button-popover" slot="start" fill="clear">
          <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
        <ion-popover trigger="trigger-button-popover" triggerAction="click">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item button lines="none" (click)="openModal()">
                  <ion-label>New chat</ion-label>
                  <ion-icon name="chatbubbles-outline"></ion-icon>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
        
        <ion-title class="ion-text-center">Chats</ion-title>
        <ion-button slot="end" fill="clear" shape="round">
          <ion-icon name="person-outline"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-modal mode="ios">
        <ng-template>
          <ion-app>
            <ion-header translucent>
              <ion-toolbar>
                <ion-title>New chat</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
                <ion-searchbar animated placeholder="Search contacts" (ionChange)="searchContacts(event)" debounce="500"></ion-searchbar>
                <ion-item lines="none" *ngFor="let contact of contacts">
                  <ion-thumbnail slot="start">
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="Person Thumbnail" style="--border-radius: 5px;">
                  </ion-thumbnail>
                  <ion-label>{{contact.firstName}} {{contact.lastName}}</ion-label>
                  <ion-checkbox [(ngModel)]="contact.isSelected"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-content>
            <ion-footer mode="ios">
              <ion-button expand="block" (click)="createConversation()">
                <ion-label>Create</ion-label>
              </ion-button>
            </ion-footer>
          </ion-app>
        </ng-template>
      </ion-modal>
      
      <ion-item *ngFor="let snapshot of snapshots"
                [routerLink]="['/chat', snapshot.conversationId]"
                routerDirection="root"
                [color]="!snapshot.lastMessage.seen ? 'medium' : ''">
        <ion-thumbnail slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="Person Thumbnail">
        </ion-thumbnail>   
        <ion-label>
          {{snapshot.name}}
          <ion-label>{{snapshot.lastMessage.text}}</ion-label>
        </ion-label>
      </ion-item>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

</ion-split-pane>

