<ion-header [translucent]="true">
  <!-- <ion-toolbar color="primary">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size-lg="2">
          <ion-title style="height: 100%;">Cars</ion-title>
        </ion-col>
        
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar> -->
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-text-center">Chats</ion-col>
        <ion-col size="9" class="ion-text-center">Alex Popa</ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid style="height:100%">
    <ion-row style="height:100%">
      <!-- Chats Section -->
      <ion-col size="3">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-list>
                <ion-item>
                  <ion-label>Alex Popa</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Radu Remorca</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <!-- Conversation Section -->
      <ion-col size="9">
        <ion-list style="background-color: transparent">

          <!-- Received Message -->
          <ion-item-sliding>
            <ion-item-options side="start">
              <ion-item-option color="tertiary">
                <ion-icon name="arrow-redo-outline"></ion-icon>
                Reply
              </ion-item-option>
            </ion-item-options>
            <ion-item color="primary"
                      lines="none"
                      style="float:left; width: fit-content; max-width: 75%;
                      border-radius:20px;
                      border-bottom-left-radius: 0px;">
            <ion-label class="ion-text-wrap">
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
              Received message
            </ion-label>
          </ion-item>
          </ion-item-sliding>
          <br/>
          <!-- Sent Message -->
          <ion-item-sliding>
            <ion-item-options side="end">
              <ion-item-option color="tertiary">
                <ion-icon name="arrow-undo-outline" slot="end"></ion-icon>
                  Reply
              </ion-item-option>
            </ion-item-options>
            <ion-item color="secondary"
                      lines="none"
                      style="float:right; width: fit-content; max-width: 75%;
                      border-radius:20px;
                      border-bottom-right-radius: 0px;">
              <ion-label class="ion-text-wrap">
                Sent message                
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
                Sent message
              </ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
        <ion-item style="bottom: 0;
                         position: absolute;
                         width: -webkit-fill-available;
                         border-radius: 30px;">
          <ion-input type="text"></ion-input>
          <ion-icon name="send-outline"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
