<ion-app>
  <ion-modal [isOpen]="showModal">
    <ng-template>
      <ion-app>
        <ion-item
          routerDirection="root">
          <ion-thumbnail slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" alt="Person Thumbnail">
          </ion-thumbnail>   
          <ion-label>
            Name
            <ion-label>Video call</ion-label>
          </ion-label>
        </ion-item>
        <ion-button (click)="acceptCall()">
          <ion-icon name="call-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="declineCall()">
          <ion-icon name="ban-outline"></ion-icon>
        </ion-button>
      </ion-app>
    </ng-template>
  </ion-modal>
  <ion-router-outlet id="menuContent"></ion-router-outlet>
</ion-app>