<ion-header>
  <ion-toolbar>
    <ion-title>Incoming call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerDirection="root">
    <ion-thumbnail slot="start">
      <img src="" alt="Person Thumbnail">
    </ion-thumbnail>
    <ion-label *ngIf="caller != undefined">
      {{caller.firstName + ' ' + caller.lastName}}
      <ion-label>Video call</ion-label>
    </ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="acceptCall()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="declineCall()">
      <ion-icon name="ban-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>