<ion-header>
  <ion-toolbar>
    <ion-title>Call with</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="width: -webkit-fill-available; height: -webkit-fill-available;">
    <ion-card-header>
      <ion-card-title>{{"Remote Vid"}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video #remoteVideo id="remote-video" autoplay playsinline></video>
    </ion-card-content>
  </ion-card>
  <ion-card style="position: absolute; right: 0; bottom: 0; width: 30%; height: 25%;">
    <ion-card-header>
      <ion-card-title>My Vid</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video #localVideo id="local-video" autoplay playsinline [muted]=true></video>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button><ion-icon name="settings-outline"></ion-icon></ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="mic-off-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="endCall()">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="videocam-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
